body {
    background-color: rgb(243, 243, 216);
    font: bold 20px consolas;

}

h3 {
    color: rgb(77, 4, 77);
    margin-left: 30px;
}

hr {
    border: 5px solid yellowgreen;
}

input {
    color: brown;
    font-size: 15px;
}

button {
    color: brown;
    font-size: 15px;
}

a {
    font-family: monospace;
    font-size: 15px;
    color: brown
}

input[type="text"] {
    color: brown;
    background-color: beige
}

input[type="password"] {
    color: brown;
    background-color: beige
}


div.box {
    background: greenyellow;
    border-style: solid;
    border-radius: 30px;
    border-color: rgb(94, 60, 27);
    text-align: center;
    margin: 100px;
    border-width: 30px;
    padding: 100px;
}

div.box-inner {
    background: rgb(224, 231, 124);
    border-radius: 50px;
    border-style: dotted;
    border-color: rgb(255, 128, 0);
    text-align: center;
    margin: 40px;
    border-width: 10px;
    padding: 20px;
}

div.box-2 {
    background: beige;
    border-radius: 50px;
    border-style: dotted;
    border-color: brown;
    text-align: center;
    margin: 40px;
    border-width: 10px;
    padding: 20px;
}